<div class="container">
	<div class="row row1 row2">
		<div class="col-xs-1"></div>
		<div class="col-xs-2 headline">
			<p class="gray">マイページ</p>
		</div>
		<div class="col-xs-9"></div>
	</div>
	<div class="row row2">
		<div class="col-xs-2 strong">
			<strong>登録情報</strong>
		</div>
		<div class="col-xs-1 bottun">
			<%= link_to "編集する", edit_public_end_users_path, class: 'btn btn-primary' %>
		</div>
		<div class="col-xs-2 bottun">
			<div class="btn btn-primary">パスワードを変更する</div>
		</div>
		<div class="col-xs-7"></div>
	</div>
	<div class="row row2">

		<div class="col-xs-8">
			<table height="200px" border="1" style="border-collapse: collapse">
				<tbody>
					<tr>
						<td class="td-headline">氏名</td>
						<td class="td-body">
							<%= current_end_user.first_name %>
							<%= current_end_user.last_name %>
						</td>
					</tr>
					<tr>
						<td class="td-headline">カナ</td>
						<td class="td-body">
							<%= current_end_user.first_name_kana %>
							<%= current_end_user.last_name_kana %>
						</td>
					</tr>
					<tr>
						<td class="td-headline">郵便番号</td>
						<td class="td-body"><%= current_end_user.postal_code %></td>
					</tr>
					<tr>
						<td class="td-headline">住所</td>
						<td class="td-body"><%= current_end_user.address %></td>
					</tr>
					<tr>
						<td class="td-headline">電話番号</td>
						<td class="td-body"><%= current_end_user.phone_number %></td>
					</tr>
					<tr>
						<td class="td-headline">メールアドレス</td>
						<td class="td-body"><%= current_end_user.email %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row row2">
		<div class="col-xs-2 strong">
			<strong>注文履歴</strong>
		</div>
		<div class="col-xs-2 btn btn-primary">一覧を見る</div>
		<div class="col-xs-8"></div>
	</div>
	<div class="row row2">
		<div class="col-xs-2 strong">
			<strong>注文履歴</strong>
		</div>
		<div class="col-xs-2 btn btn-primary">一覧を見る</div>
		<div class="col-xs-8"></div>
	</div>
</div>
