<div class="container">
	<div class="row row1 row2">
		<div class="col-xs-2"></div>
		<div class="col-xs-2 text">
			<p class="gray">注文履歴一覧</p>
		</div>
		<div class="col-xs-8"></div>
	</div>
	<div class="row row2">
		<div class="col-xs-2"></div>
		<div class="col-xs-8">
			<table class="item-tables" border="1">
				<thead class="items-table">
					<tr>
						<th class="th-index-box">購入日時</th>
						<th class="th-index-box">購入者</th>
						<th class="th-index-box">注文個数</th>
						<th class="th-index-box">注文ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order| %>
					<tr>
						<td class="confirm-detail"><%= link_to admin_order_path(order) do %>
							<%= order.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
							<% end %>	
						</td>
						<td class="confirm-detail"><%= order.end_user.first_name + order.end_user.last_name %></td>
						<% @amount = 0 %>
						<% order.order_details.each do |detail| %>
						<% @amount += detail.amount %>
						<% end %>
						<td class="confirm-detail"><%= @amount %></td>
						<td class="confirm-detail">
							<%= Order.order_statuses_i18n[order.order_status] %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-xs-2"></div>
	</div>
	<div class="row"></div>
</div>