<div class="container">
	<div class="row row1">
		<div class="col-xs-1"></div>
		<div class="col-xs-3 text">
			<p class="gray">ジャンル一覧・追加</p>
		</div>
		<div class="col-xs-8"></div>
	</div>
	<div class="row row1 row2">
		<%= form_for @genre, :url => {:action => :create} do |f| %>
		<div class="col-xs-1"></div>
		<div class="col-xs-6">
			<table>
				<tr>
					<td class="genre-table"><%= f.label :ジャンル %></td>
					<td class="genre-table"><%= f.text_field :name %></td>
					<td class="genre-table"><%= f.radio_button :effectiveness_status,  true %>有効</td>
					<td class="genre-table"><%= f.radio_button :effectiveness_status,  false %>無効</td>
					<td class="genre-table"><%= f.submit "追加", class: "btn btn-primary" %></td>
				</tr>
			</table>
		    </div>
			<div class="col-xs-5"></div>
		<% end %>
	</div>
	<div class="row row2">
		<div class="col-xs-5">
			<table class="genre-table">
			  <thead class="thead-headline">
				<tr>
					<th class="td-index">ジャンル</th>
					<th class="td-index">状態</th>
					<th class="td-index"></th>
				</tr>
			  </thead>
			  <tbody>
				<% @genres.each do |genre| %>
				<tr class="text">
					<td><%= genre.name %></td>
					<td>
						<% if genre.effectiveness_status == true %>
						<p class="status">有効</p>
						<% else %>
						<p class="status">無効</p>
						<% end %>
					</td>
					<td>
						<div class="genre-button">
						<%= link_to "編集する", edit_admin_genre_path(genre) , class: "btn btn-primary" %>
						</div>
					</td>
				</tr>
		        <% end %>
			  </tbody>
		    </table>
		</div>
		<div class="col-xs-7"></div>
	</div>
</div>