<div class="container">
	<%= form_with model: @order, url: public_orders_confirm_path, local: true do |f| %>
	<div class="row row1">
		<div class="col-xs-2"></div>
		<div class="col-xs-2 text">
			<p class="gray">注文情報入力</p>
		</div>
		<div class="col-xs-8"></div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<p class="order-headline"><strong>支払方法</strong></p>
			<div class="order-detail">
			  <p>
			    <%= f.radio_button :payment_method, 0 %>
			    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
			  </p>
			  <p>
			    <%= f.radio_button :payment_method, 1 %>
			    <%= f.label :payment_method, Order.payment_methods_i18n[:bank_transfer] %>
			  </p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2"></div>
		<div class="col-xs-10">
			<p class="order-headline"><strong>お届け先</strong></p>
			<div class="order-detail">
				<%= f.radio_button :address_select, 0 %>ご自身の住所<br>
				<p  class="order-detail">
					〒<%= current_end_user.postal_code %><br>
					<%= current_end_user.address %>
			    </p>
			</div>
			<div class="order-detail">
				<p><%= f.radio_button :address_select, 1 %>登録済住所から選択</p>
				<div class="order-detail"><%= f.collection_select :address, current_end_user.addresses, :id, :order_address_union %>
				</div>
			</div>
			<div class="order-detail">
				<p><%= f.radio_button :address_select, 2 %>新しいお届け先</p>
				<div  class="order-detail">
				<table>
					<tbody>
						<tr>
							<td>郵便番号（ハイフンなし）</td>
							<td><%= f.text_field :new_postal_code, class: "form" %></td>
						</tr>
						<tr>
							<td>住所</td>
							<td><%= f.text_field :new_address, class: "form" %></td>
						</tr>
						<tr>
							<td>宛名</td>
							<td><%= f.text_field :new_name, class: "form" %></td>
						</tr>
					</tbody>
				</table>
			    </div>
				<p></p>
			</div>
		</div>
	</div>
	<div class="row row2">
		<div class="col-xs-5"></div>
		<div class="col-xs-2">
			<%= f.submit "確認画面に進む", class: "btn btn-primary" %>
		</div>
		<div class="col-xs-5"></div>
	</div>
	<% end %>
</div>